<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="rutaTablas" value="D:\Proyectos\Ciudad Futura\InterfazServiciosMisionAI\Datos\"/>
		<add key="dbfArticulos" value="ARTICULO.DBF"/>
		<add key="dbfTerceros" value="TERCERO.DBF"/>
		<add key="dbfPedidos" value="PEDIDO.DBF"/>
		<add key="dbfZonas" value="ZONA.DBF"/>
		<add key="dbfPedidos" value="PEDIDO.DBF"/>
		<add key="dbfMarcas" value="MARCA.DBF"/>
		<add key="stringConexion" value="Provider=vfpoledb; Data Source={0};CharacterSet=UTF8;"/>
		<add key="marcaExistente" value="SELECT CODMARCA FROM BASE WHERE NOMBRE = '{0}'"/>
		<add key="ultimaMarcaInsertada" value="SELECT CODMARCA FROM BASE ORDER BY CODMARCA DESC"/>
		<add key="insertarMarca" value="INSERT INTO BASE (CODMARCA, NOMBRE) VALUES (?,?);"/>
		<add key="productosExistentes" value="SELECT DISTINCT CODART FROM {0}"/>
		<add key="insertarProductos" value="INSERT INTO BASE (CODART, NOMBRE, DETALLE, CODGRUPO1, CODUNIDAD, CODMONEDA, PRECVTA, PRECCOMLIS, MARGEN, NROCUENTA, NROCUECOMP, NROCUECOST, CODMARCA) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?);"/>
		<add key="eliminarProductos" value="DELETE FROM BASE WHERE CODART='{0}';"/>
		<add key="zonasExistentes" value="SELECT DISTINCT CODZONA FROM {0}"/>
		<add key="insertarZonas" value="INSERT INTO BASE (CODZONA, NOMBRE) VALUES (?,?);"/>
		<add key="consumidoresExistentes" value="SELECT DISTINCT CODTER FROM {0} WHERE CODTIPTER = 'CLIENTE'"/>
		<add key="productoresExistentes" value="SELECT DISTINCT CODTER FROM {0} WHERE CODTIPTER = 'PROVEEDO'"/>
		<add key="insertarTerceros" value="INSERT INTO BASE (CODTIPTER, CODTER, NOMBRE, NOMBRE_IVA, DIRECCION, CP, TELEFONO1, TELEFONO2, CODZONA, NROCUENTA, CODMONEDA, E_MAIL, CONTACTO, CODTIPDOC, NRODOC, CODTIPIMPU) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);"/>
		<add key="actualizarTerceros" value="UPDATE BASE SET NOMBRE='{0}', NOMBRE_IVA='{1}', DIRECCION='{2}', TELEFONO1='{3}', TELEFONO2='{4}', CODZONA='{5}', E_MAIL='{6}', CONTACTO='{7}', CODTIPDOC='{8}', NRODOC={9} WHERE CODTIPTER='{10}' AND CODTER='{11}';"/>
		<add key="pedidosExistentes" value="SELECT DISTINCT NROPEDIDO FROM {0} WHERE"/>
		<add key="insertarPedidos" value="INSERT INTO BASE (NROPEDIDO, CODTER, FECHA, CODART, CANTIDAD, CIRCULO, CICLO) VALUES (?,?,?,?,?,?,?);"/>
		<add key="borrarPedidos" value="DELETE FROM BASE WHERE NROPEDIDO='{0}';"/>
		<add key="CiclosMes" value="SELECT CICLO, MES FROM CICLOS.DBF;"/>
		<add key="MiniCuotaSocial" value="SELECT COUNT(*) AS CANTCUOTAS FROM PEDIDO.DBF WHERE CICLO IN ({0}) AND (CODART = '0296' AND CIRCULO = {1} OR CODART = '1258' AND CODTER = '{2}');"/>
		<add key="CuotaSocial" value="SELECT COUNT(*) AS CANTCUOTAS FROM PEDIDO.DBF WHERE CICLO = '{0}' AND CODART = '0296' AND CIRCULO = {1};"/>
		<add key="cerrarConsola" value="1"/>

		<add key="actualizarPedidos" value="UPDATE BASE SET CIRCULO={0}, CICLO='{1}' WHERE NROPEDIDO='{2}';"/>
	</appSettings>
</configuration>